{% extends 'base.html.twig' %}

    {% block title %}Sortir avec l'ENI team{% endblock %}
{% block main %}
    <ul>
        {% for s in sortie %}
           <li>{{ s.nom }}, {{ s.lieu }}<span> <a href="{{ path('inscrire',{'id':s.id}) }}" class="btn btn-success">S'inscrire sur la sortie</a></span></li>

        {% endfor %}
    </ul>

{% endblock %}