<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Créer votre sortie !{% endblock %}</title>

    </head>
    <body>
    <h1>Créer une sortie</h1>
        {% block body %}
        <p>merci d'avance poru votre participation</p>


        {% endblock %}
    </body>
</html>
